storage/framework/views/*
storage/framework/sessions/*
storage/framework/cache/*
/public/video/*
/public/wikidoc/*.zip
/public/wikidoc/*.exe
/public/wikidoc/*.msi
/public/wikidoc/*.rar
/public/wikidoc/*.docx
/public/img/albums/2/
/public/img/albums/3/
/public/img/albums/4/
/public/img/albums/5/
/public/img/albums/6/
/public/img/albums/7/
/public/img/albums/8/
/public/img/albums/9/
/public/img/albums/10/
/public/img/albums/11/
/public/img/albums/12/
/public/img/albums/13/
/public/img/albums/14/
/public/img/albums/15/
/public/img/albums/16/
/public/img/albums/17/
/public/img/albums/18/
/public/img/albums/19/
/public/img/albums/20/
/public/img/albums/21/
/public/img/albums/22/
/public/img/albums/23/
/public/img/albums/24/
/public/img/albums/25/
/public/img/albums/26/
/public/img/albums/27/
/public/img/albums/28/
/public/img/albums/29/
/public/img/albums/30/
/public/img/albums/31/
/public/img/albums/32/
/public/img/albums/33/
/public/img/albums/34/
/public/img/albums/35/
/public/img/albums/36/
/public/img/albums/37/
