@font-face {
    font-family: 'Aktiv Grotesk Corp6';
    src: url('../fonts/my/AktivGroteskCorpMedium-Regular.eot');
    src: url('../fonts/my/AktivGroteskCorpMedium-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/my/AktivGroteskCorpMedium-Regular.woff2') format('woff2'),
        url('../fonts/my/AktivGroteskCorpMedium-Regular.woff') format('woff'),
        url('../fonts/my/AktivGroteskCorpMedium-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Celestina';
    src: url('../fonts/my/Celestina.woff2') format('woff2'),
        url('../fonts/my/Celestina.woff') format('woff'),
        url('../fonts/my/Celestina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Devroye Unicode';
    src: url('../fonts/my/DevroyeUnicode.eot');
    src: url('../fonts/my/DevroyeUnicode.eot?#iefix') format('embedded-opentype'),
        url('../fonts/my/DevroyeUnicode.woff2') format('woff2'),
        url('../fonts/my/DevroyeUnicode.woff') format('woff'),
        url('../fonts/my/DevroyeUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}