@font-face {
  font-family: 'Aktiv Grotesk Corp6';
  src: url("../fonts/my/AktivGroteskCorpMedium-Regular.eot");
  src: url("../fonts/my/AktivGroteskCorpMedium-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/my/AktivGroteskCorpMedium-Regular.woff2") format("woff2"), url("../fonts/my/AktivGroteskCorpMedium-Regular.woff") format("woff"), url("../fonts/my/AktivGroteskCorpMedium-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Celestina';
  src: url("../fonts/my/Celestina.woff2") format("woff2"), url("../fonts/my/Celestina.woff") format("woff"), url("../fonts/my/Celestina.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Devroye Unicode';
  src: url("../fonts/my/DevroyeUnicode.eot");
  src: url("../fonts/my/DevroyeUnicode.eot?#iefix") format("embedded-opentype"), url("../fonts/my/DevroyeUnicode.woff2") format("woff2"), url("../fonts/my/DevroyeUnicode.woff") format("woff"), url("../fonts/my/DevroyeUnicode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.Celestina {
  font-family: 'Celestina';
}

.AktivGroteskCorp6 {
  font-family: 'Aktiv Grotesk Corp6';
}

.rgs-body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
}

.container {
  margin-top: 110px;
}

.top-110 {
  margin-top: 110px;
}

.top-130 {
  margin-top: 130px;
}

.top-150 {
  margin-top: 150px;
}

.h150 {
  height: 150px;
}

.h110 {
  height: 110px;
}

.h90 {
  height: 90px;
}

.h80 {
  height: 80px;
}

.h60 {
  height: 60px;
}

.h50 {
  height: 50px;
}

.mar15 {
  margin: 15px;
}

.top-red {
  border-top: 6px solid #b21f2d;
}

.m-100 {
  margin-top: 0;
}

.word-b {
  /*width: 160px;*/
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

a.nav-link:hover {
  background-color: #EEE;
  border-radius: 10px;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.footer {
  width: 100%;
  margin-top: 100px;
  padding: 20px;
  height: 250px;
  background-color: #f5f5f5;
}

.main_nav {
  display: inline-block;
  width: 300px;
  height: 210px;
  vertical-align: middle;
}

figcaption strong {
  display: block;
}

.main_page figure {
  display: inline-block;
  width: 300px;
  height: 210px;
  margin: 15px;
  position: relative;
}

.main_page figcaption {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 0;
  right: 0;
  border-radius: 30px;
  background-color: rgba(102, 165, 242, 0.9);
  padding: 20px;
  text-align: center;
  font-family: Titillium, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: white;
  opacity: 0;
  -webkit-transition: opacity .75s ease-out;
  transition: opacity .75s ease-out;
}

.main_page figure:hover figcaption {
  opacity: 1;
}

.video_link {
  margin-left: 222px;
}

.main_nav figcaption {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 0;
  right: 0;
  border-radius: 30px;
  background-color: rgba(102, 165, 242, 0.9);
  padding: 20px;
  text-align: center;
  font-family: Titillium, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: white;
  opacity: 0;
  -webkit-transition: opacity .75s ease-out;
  transition: opacity .75s ease-out;
}

.main_nav figure:hover figcaption {
  opacity: 1;
}

.color_red {
  color: red;
  font-weight: bolder;
}

.color_rgs {
  color: #b21f2d;
  font-weight: bolder;
}

#link:hover {
  border-color: #007bff !important;
  background-color: #cce5ff !important;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

#adminka:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.main_nav {
  width: 300px;
  height: 210px;
  vertical-align: middle;
}

.main_nav img {
  padding-left: 39px;
  height: 210px;
}

.cent {
  text-align: center;
}

.text-link {
  font-family: 'Devroye Unicode';
}

.booking:hover {
  background-color: gray !important;
}

.booking a {
  text-decoration: none;
}

#weekend, #weekend a {
  color: red;
}

figcaption.fileW {
  border-radius: 5px;
  background-color: white;
  color: black !important;
}

#wikiText {
  background-color: white;
  border-top: .5px solid lightgrey;
  border-right: .5px solid lightgrey;
  border-bottom: .5px solid lightgrey;
  border-left: 10px dotted grey;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 20px 15px 0 0;
  min-height: 400px;
}

.redRightBorder {
  margin: -10px 60px 0 0;
  padding-top: 30px;
  padding-bottom: 20px;
  border-right: 2px solid #b21f2d;
  height: 100%;
}

.check-hide {
  visibility: hidden;
}

.cards-row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-orders {
  text-align: center;
  margin: 10px;
  padding: 5px;
  border: 1px solid lightgrey;
  background-color: lavender;
  max-width: 220px;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-table;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.card-orders .img-thumbnail {
  border: none !important;
}

.card-orders:hover {
  border: 1px solid #2eaaf7;
  background-color: lightskyblue;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.check-orders {
  border: 1px solid #2eaaf7;
  background-color: lightskyblue;
}

.rgs-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.orders {
  max-width: 90vw;
  text-align: center;
}

.form-body-order {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.remains-tr:hover {
  cursor: pointer;
  background-color: lightskyblue !important;
}

.remains-tr:focus {
  background-color: black !important;
}

i.orderPlus:hover {
  display: inline-block;
}

.order-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.s500 {
  font-size: large;
}

.orderPlus:hover, .orderMinus:hover {
  cursor: pointer;
  color: red;
}

.orderPlus:active, .orderMinus:active {
  color: #830404;
  font-size: medium;
}

.td-red {
  background-color: coral !important;
}

td i {
  font-size: 2rem;
}

td input {
  text-align: center;
}

.tdtoclick {
  position: relative;
}

.my-info {
  display: none;
  top: 0px;
  width: 114px;
  height: 60px;
  right: -50px;
  position: absolute;
  z-index: -1;
}

.tdtoclick:hover > .my-info {
  display: block;
  border-radius: 5px;
  top: 0px;
  width: 114px;
  height: 60px;
  right: -80px;
  position: absolute;
  z-index: 2;
  background-color: blue;
  color: #fff;
}

.tdtoclick:hover > .my-info::before {
  content: "";
  display: block;
  border: 10px solid transparent;
  border-right: 10px solid blue;
  position: absolute;
  top: 20px;
  left: -26px;
}

.form-check-redirect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
}

.form-check-title {
  text-align: center;
}

.form-check__input {
  display: none;
}

.form-check__lable {
  color: #000;
  background-color: lightgray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 50%;
  text-align: center;
  padding: 10px;
}

.form-check__checked {
  color: #fff;
  background-color: cornflowerblue;
  padding: 10px;
}

.form-check__lable:hover {
  color: #fff;
  background-color: #03458b;
}

.form-check__lable:active {
  color: #fff;
  font-weight: 800;
  background-color: #02264d;
}

.personline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d6d4d4;
  padding: 5px;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.personline::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 0;
}

.personline__img {
  background-color: #949596;
  width: 60px;
  height: 60px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personline__rounded {
  border-radius: 3px;
}

.personline-txt {
  margin: 0 0 0 10px;
}

.personline-group {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  display: block;
  padding: 10px;
  text-align: center;
  text-align-last: center;
}

.personline-group-file {
  overflow: hidden;
  border: 1px solid blue;
  width: 100%;
  border-radius: 5px;
  background-color: #fffff0;
  padding: 4px;
}

.personline:hover {
  background-color: cornsilk;
}

.personline:active {
  font-weight: bolder;
  color: darkgray;
}

.hide {
  display: none;
}
/*# sourceMappingURL=app.css.map */